<% content_for :title, "Editing profile" %>

<div class=" justify-center">
  <h1 class="font-bold text-4xl flex w-full justify-center">Editing profile</h1>

  <div class="form-container">
    <%= render "form", profile: @profile %>
  </div>
</div>
