<%# app/views/shared/_flash_messages.html.erb %>
<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <% alert_class = 'bg-emerald-50 text-emerald-700 border-emerald-300' %>
    <% icon_content = 'ðŸŽ‰' %>
  <% elsif type == 'alert' %>
    <% alert_class = 'bg-red-50 text-red-700 border-red-300' %>
    <% icon_content = 'âš ï¸' %>
  <% else %>
    <% alert_class = 'bg-blue-50 text-blue-700 border-blue-300' %>
    <% icon_content = 'ðŸ’¡' %>
  <% end %>
  <div class="relative flex items-center p-4 my-2 text-sm font-semibold rounded-lg shadow-sm <%= alert_class %>" role="alert">
    <span class="mr-3 text-lg"><%= icon_content %></span>
    <p class="flex-1"><%= msg %></p>
    <button type="button" class="ml-auto text-gray-400 hover:text-gray-600 focus:outline-none" onclick="this.parentElement.style.display='none'">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
<% end %>
