<!--# now do we need this to be a current_group frame? We could easily replace it with just an id an use it for turbo streams-->
<turbo-frame id="current_group" class="flex flex-col relative w-9/12 w-full h-screen bg-white">
  <!--Main content right-->
  <!--    # Here, we shall decompose our page into turbo frame components
    This will allow faster loading with parallel requests
    Also importantly, we shall defer loading of messages which can be a big speed blocker in practice-->
  <% if current_group.present? %>
    <!--Group title -->
    <!--We can add a partial to groups/show page that will give use this content-->
    <turbo-frame id="group" src="<%= group_path(current_group) %>" loading='eager'>
    </turbo-frame>
    <!--Group title-->
    <!--Then we control access to member features-->
    <% if  current_group.member(current_user).present? %>
      <div id="messages-wrapper" class="w-full bg-white px-5 py-6 pb-12 relative h-[80vh] overflow-x-hidden overflow-y-auto">
        <% if current_group&.messages&.any? %>
          <!--# since maessages will take a while to load, we can use a lazy loaded frame here-->
          <!--We can do that by fetching from the index page of messages with a group id set-->
          <turbo-frame id="messages" src="<%=  group_messages_path(current_group) %>" loading="lazy">
          </turbo-frame>
        <% else %>
          <p class="text-center ">No messages found.</p>
        <% end %>
      </div>
      <div class="absolute bottom-0 left-0 w-full">
        <turbo-frame id="new_message" src="<%= new_group_message_path(current_group) %>" loading="lazy">
        </turbo-frame>
      </div>
    <% else %>
      <div class="flex items-center h-full w-full justify-center">
        <%= content_tag :h3, "Please join first to see secret stuff", class: "text-lg text-accent" %>
      </div>
    <% end %>
  <% end %>
  <!--Main content right-->
</turbo-frame>