<div class="flex flex-row bg-gray-100 h-screen w-screen px-2 overflow-hidden" data-controller="dashboard">
  <%= render partial: 'sidebar_left', locals: { your_groups: @your_groups, other_groups: @other_groups} %>
  <%= render partial: 'main_content', locals: {current_group: @current_group} %>
</div>
<%# console %>
<!--Bare turbo stream example-->
<!--  <turbo-stream action="replace" target="current_group">
    <template>
      <div class="flex w-full h-screen bg-accent text-center justify-center text-white text-4xl">We are gone!</div>
    </template>
  </turbo-stream>-->
<!--<turbo-stream action="refresh" target="current_group"></turbo-stream>-->
<!--We can also target multiple elements-->
<!--<turbo-stream action="update" targets=".message">
  <template>
    Hello
  </template>
</turbo-stream>-->
